@import 'tailwindcss';

@theme {
  --color-brand-primary: #169545;
  --color-brand-secondary: #147a3a;
}

:root {
  --background: #f8fafc; /* Um cinza levemente mais azulado/moderno */
  --foreground: #0f172a;
}

/* Remova ou comente a parte do Reset que tira o estilo dos botões 
   se você quiser que o Tailwind aplique os estilos corretamente, 
   ou use classes utilitárias em todos eles. */

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Garante que o conteúdo não "cole" nas bordas em telas menores */
  overflow-x: hidden;
}

/* Melhoria na renderização de fontes */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
